<!DOCTYPE html>
<html>
<head>
  <title>Rails App</title>
  <%= csrf_meta_tags %>

  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application', media: 'all' %>
</head>

<body>
<%= render partial: 'default/navbar' %>
<%= yield %>
</body>
</html>